.container {
  width: 900px;
  overflow-y: hidden;
  margin: 0 auto;
  position: relative;
}

.mainContainer {
  background: rgb(11, 11, 11);
  display: flex;
  height: 300px;
  width: 900px;
  overflow-y: hidden;
  margin: 0 auto;

}


.mainContainer::-webkit-scrollbar {
  display: none;
}




.mainContainerContent {
  padding: 3rem;
  scrollbar-width: none;

}