.buttonNewContent {
  display: inline;
  align-self: center;
  background: none;
  font-size: 1.6rem;
  padding: 0.6rem 21px;
  border: none;
  border-bottom: 1px solid rgba(182, 0, 0, 0);
  background-color: rgb(17, 17, 17);
  color: rgb(213, 213, 213);
  cursor: pointer;
}

.buttonLogin {
  margin: 1rem;
  display: inline;
  font-size: 1.2rem;
  background-color: rgb(175, 0, 0);
  color: white;
  justify-self: flex-start;
  text-decoration: none;
  align-self: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
}

.buttonLogin:active {
  background-color: rgb(138, 0, 0);
}

.buttonNewContent:hover {
  border-bottom: 1px solid rgb(182, 0, 0);
}

.previous,
.next {
  background-color: rgba(255, 255, 255, 0.116);
  border: none;
  font-size: 3rem;
  opacity: 0;
  top: 1px;
  width: 60px;
  height: 300px;
}

.next {
  position: relative;
  right: 30px;
}

.previous {
  position: relative;
  left: 30px;
}

.previous:hover,
.next:hover {
  opacity: 1;
}