.containerRemove {
  max-width: 1100px;
  margin: 0 auto;
}
.containerContentRemove {
  display: flex;
  align-items: center;
  background: #333;
  padding: .3rem;
  margin: .1rem;

}

.botaoRemove,
.botaoEdit {
  align-self: center;
  font-size: 2rem;
  padding: 0 .5rem ;
  background: rgb(116, 114, 114);
  color: white;
  border: none;
  margin: .2rem;
  border-radius: 5px;
  cursor: pointer
}

.botaoRemove{
  color: rgb(187, 47, 47);
}